# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\softlab_tdd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
